@font-face {
    font-family: 'ankama';
    src: url('../fonts/Bebas_Neue/BebasNeue-Regular.ttf');
    src: url('../fonts/Bebas_Neue/BebasNeue-Regular.ttf') format('ttf'); 
    font-weight: normal;
    font-style: normal;
}