.profil{
    margin: 7% 20%; 
    vertical-align: middle;
    width:60%;
}

.paramProfil {
    border: 1px solid black;
    border-radius: 25px;
    padding: 25px 50px;
    position: relative;
}

.paramProfil > .img-profil {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 100px 25px 100px 100px;
    box-shadow: 3px 3px 15px #000000;
    overflow: hidden;
    width: 200px;
    height: 200px;
}

.paramProfil > .img-profil > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.paramProfil > h2 {
    font-size: 1.5em;
    font-weight: normal;
}

.paramProfil > .info {
    font-size: 1.3em;
    list-style-type: none;
}

.paramProfil > .info > li {
    margin: 10px 0;
}

.paramProfil > .info label {
    vertical-align: middle;
}

.paramProfil > article > label {
    font-size: 1.5em;
}

.paramProfil .submit {
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.paramProfil .submit input {
    padding: 10px 25px;
    border: 1px solid #e63a21;
    border-radius: 10px;
    background-color: #e63a21;
    color: white;
}

.paramProfil > article:first-of-type > input {
    vertical-align: middle;
    padding: 5px;
    width: 50%;
}

.btn-retour{
    margin-top:5%; 
    height: 100%;
    width:100%; 
    background-color: lightseagreen;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
}

.btn-retour>a{
    text-decoration: none;
    color:white; 
    font-family: 'ankama';
    letter-spacing: 0.5px;
    font-size: 15px;
}

.commentaire {
    margin: 7% 2.5%;
    width: 95%; 
    border-radius: 25px;
    overflow: hidden;
}

.tabcomm{
    padding: 15px; 
}

.tabcomm tr, .tabcomm td, .tabcomm th {
    border: 1px solid lightseagreen;
    border-collapse: collapse;
    border-radius: 25px;
}

.tabcomm th, .tabcomm td {
    padding: 1%;
}

.tabcomm th{
    background-color: lightseagreen;
    letter-spacing: 0.5px;
}

.seccomm{
    margin: 7% 5%; 
    vertical-align: middle;
    width:90%;
}

.retour{
    padding-bottom: 10%;
    margin-left: 10%;
    width: 80%;
}

.paramProfil .submit {
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.paramProfil .btn-modif-param {
    padding: 10px 25px;
    border: 1px solid #e63a21;
    border-radius: 10px;
    background-color: #e63a21;
    color: white;
    font-family: 'ankama';
    letter-spacing: 0.5px;
    cursor: pointer;
}

.btn-modif-param:hover{
    border-color: #c5331c;
    background-color: #c5331c;
}

.btn-modif-param > a{
    text-decoration: none;
    color: white; 
}